pada notebook ini akan membuat model unsupervised learning dengan teknik K-Means Clustering untuk menentukan segmentasi pengunjung mall.

**Load Dataset**

In [1]:
import pandas as pd

df = pd.read_csv("Mall_Customers.csv")

df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

**Preprocessing Data**

kita akan melakukan sedikit preprocessing yaitu mengubah nama kolom agar lebih seragam. Lalu kolom gender adalah kolom kategorik, maka kita akan mengubah data tersebut menjadi data numerik.

In [2]:
#mengubah nama kolom
df = df.rename(columns={
    'Gender': 'gender', 'Age': 'age','Annual Income (k$)': 'annual_income','Spending Score (1-100)': 'spending_score'
})

#mengubah data kategorik menjadi data numerik
df['gender'].replace(['Female', 'Male'], [0,1], inplace=True)

#menampilkan data setelah di preprocess
df.head()

   CustomerID  gender  age  annual_income  spending_score
0           1       1   19             15              39
1           2       1   21             15              81
2           3       0   20             16               6
3           4       0   23             16              77
4           5       0   31             17              40